

/* Tar bort all margin och padding från defult */
* {
  margin: 0;
  padding: 0;
}

/* Här Har vi fixat klart body med backgrunds bild och textstil inom body och storleken. */
body {

min-height: 100vh;
background-image:url(bilder/Hero.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-align: center;
}

.navi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(224, 219, 219);
}

.navi ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  list-style-type: none;
}
.navi a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px;
  display: block;
  text-align: center;
  margin: 7px;
}

.navi a:hover {
  background-color: rgba(0, 0, 0, 0.192);
}

.navi li {
  float: left;
}
footer {
  padding: 120px 0px 0px 85%;
}

.bild {
  width: 120%;
  height: 100%;
  background-position: top;
  margin: 0;
}

.background-container {
    background-image: url('din-bild.jpg'); /* Sätt filvägen till bilden */
    background-size: cover; /* Gör så att bilden täcker hela området */
    background-position: center; /* Centrera bilden */
    height: 100vh; /* Sätt höjden till hela skärmens höjd */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



/*
.hero {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.hero_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero_container img {
  width: 250%;
  height: 75%;
  overflow: hidden;
  object-fit: cover;
  object-position: bottom;
}
