body {
    background-image: url(bilder/pexels-googledeepmind-18069156.jpg);
    }
  
.background-container {
    max-width: 1650px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem; /* Lägger till padding för mindre skärmar */
}

.overlay-text  {
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.kurstabell {
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

/* Anpassning av kurstabellen för olika skärmar */
.kurstabell {
    width: 100%; /* Minskar bredden till 80% */
    max-width: 1650px; /* Sätter maxbredd för större skärmar */
    border-collapse: collapse;
    margin: 20px auto; /* Centrerar tabellen */
    text-align: left;
    background-color: rgba(190, 182, 182, 0.801);
}

.kurstabell th,
.kurstabell td {
    padding: 12px 15px;
    border: 1px solid #ffffff;
}

.kurstabell th {
    background-color: #f4f4f4;
    color: #000000;
    font-size: 1.2em;
}

.kurstabell tr:nth-child(even) {
    background-color: rgba(198, 198, 210, 0.9);
}

.kurstabell tr:hover {
    background-color: #e3e3e3ef;
    color: #000000fc;
    transition: background-color 0.2s;
}

/* Responsiva anpassningar */

@media (max-width: 768px) {
    .kurstabell {
        width: 90%; /* Ger tabellen lite mer utrymme på mindre skärmar */
        margin: 0 auto; /* Centrerar tabellen på mindre skärmar */
    }

    .kurstabell th, .kurstabell td {
        font-size: 0.9em; /* Minskar textstorleken för att passa mindre skärmar */
        padding: 8px 10px; /* Mindre padding för bättre passform */
    }
}
