/* Tar bort all margin och padding från defult */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-image: url(bilder/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva,Verdana, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
 }

main {
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  text-align: center;
}

.rubrik {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}



/* flexbox på navigeringsmeny */
.navi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navi ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}


.navi li {
  height: 50px;
  width: 350px;

}

.navi a {
  color: rgba(3, 0, 0, 0.973);
  text-decoration: none;
  padding: 8px;
  display: block;
  text-align: center;
  margin: 7px;
}

.navi a:hover {
  background-color: rgba(250, 246, 246, 0.979);
}

.main-container {
  display: flex;
  flex-direction: column;
  /* height: 72.2vh;  */
  width: 100%;
  overflow: hidden;
}

/* Fixat till postion och storlek och textstill på mitt styke i startsidan */
.startstycke {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin-left: 15rem;
  margin-top: 10rem;
}

/* Postion på små kurs bilderna */
.kurs-bilder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 15rem;
}

.kurs-bilder img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

/* Footer */
footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(0, 0, 5) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 24px; 
}

footer ul li {
  list-style: none;
}

.footer h3 {
  color: #faeeee70;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px
}

.footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;

}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px
}

.row-links {
  display: flex;
}

.col {
  display: inline-block;
}

.col ul {
  display: flex;
  flex-direction: column;
}

footer hr {
  border-top-color: #888;
  opacity: 0.5;
  margin-top: 16px;
}

.social {
  display: flex;
  gap: 16px;
  color: white;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 12px;
}


/* Fixa sen till telefon */

@media (max-width: 768px) {
  .rubrik {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }

  .navi ul {
    align-items: center;
    width: 100%;
  }

  .navi li {
    width: 100%;
    text-align: center;
  }

  .navi a {
    font-size: 13px;
    padding: 10px;
  }

  .startstycke {
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
    font-size: 1rem;
  }

  /* kursbilder plats och storlek*/
  .kurs-bilder {
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .kurs-bilder img {
    width: 60px;
    height: 100%;
    object-fit: cover;
  }

  .footer .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer h3, .footer a {
    font-size: 1rem;
  }

  .copyright h3 {
    font-size: 0.75rem;
    text-align: center;
  }
}
