/* Tar bort all margin och padding från defult */
* {
  margin: 0;
  padding: 0;
}

/* Här Har vi fixat klart body med backgrunds bild och textstil inom body och storleken. */
body {
  
}



main {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-align: center;
}

/* fixat storleken på navigeringsmeny och bredden mellan varje lista */
.navi li {
  height: 50px;
  width: 475px;
}

/* Färg och plats på navigeringsmeny */
.navi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

/* rensat lite defult inställningar */
.navi ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  list-style-type: none;
}

.navi a {
  color: rgba(3, 0, 0, 0.973);
  text-decoration: none;
  padding: 8px;
  display: block;
  text-align: center;
  margin: 7px;
}

.navi a:hover {
  background-color: rgba(250, 246, 246, 0.979);
}

.navi li {
  float: left;
}

footer {
  padding: 700px 0px 0px 90%;
}

/* Fixat till postion och storlek och textstill på mitt styke i startsidan */
.startstyke {
  position: absolute;
  top: 17%;
  left: 7%;
  width: 600px;
  color: black;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}


/* Här har jag justerat dem små 4 bilderna för kurserna */
.csharp img {
  position: absolute;
  top: 69%;
  left: 0%;
  width: 300px;
}

.htmlbild img {
  position: absolute;
  top: 70%;
  left: 16%;
  width: 150px;
}

.cssbild img {

  position: absolute;
  width: 249px;
  top: 70%;
  left: 25%;
}

.javascript img {

  position: absolute;
  width: 285px;
  top: 70%;
  left: 36%;
}